.btn {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100px;
}

.bg-green {
    background-color: green;
    color: white;
}

.bg-red {
    background-color: red;
    color: white;
}

.bg-blue {
    background-color: blue;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

.count {
    font-size: 2rem;
    margin: 20px;
    background-color: #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}